.about-goit {
  padding-top: 4.6rem;
  padding-bottom: 4.7rem;
  background-image: url("img/found-you/bg.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-goit__logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2.2rem;
}

.about-goit__logo {
  width: 6rem;
  height: 2.1rem;
}

.about-goit__text {
  font-family: AcromM;
  font-size: 1rem;
  color: #6b6f7a;
  text-align: center;
  line-height: 1.5;
  padding: 0 2.6rem;
  span {
    color: #17ecff;
  }
}

@media (min-width: 768px) {
  .about-goit {
    padding-top: 5.4rem;
    padding-bottom: 5.6rem;
  }

  .about-goit__logo-container {
    margin-bottom: 2.6rem;
  }

  .about-goit__text {
    padding: 0 7.3rem;
  }

}

@media (min-width: 1200px) {
  .about-goit {
    padding-top: 6rem;
    padding-bottom: 6.4rem;
  }

  .about-goit__text {
    padding: 0 11.4rem;
  }

}

@media (min-width: 1920px) {
  .about-goit__text {
    padding: 0 22.4rem;
  }
}
